@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
  margin-top: 5px;
}

.team-box p { 
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
}

h2{
  font-family: quantico;
  color: #EE2D81;
  font-weight: bold;
}

h3{
  font-weight: normal;
  font-size: medium;
}

.bodysection{
  margin: 50px;
}

.hero{
  width: 90%;
  margin: auto;
}

.navbar{
  margin: 20 5%;
  display: flex;
  align-items: right;
}

.Zebra {
  flex: 1;
  text-align: right;
}

.Zebra li{
  display: inline-block;
  list-style: none;
  margin: 0 25px;
}

.Zebra li a{
  text-decoration: none;
  color: black;
  padding: 0 20px;
  position: relative;
}

.Zebra li a::after{
  content:'';
  width: 100%;
  height: 10px;
  background: #F496BF;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  transition: 0.5s;
}

.Zebra li a:hover::after {
  width: 70%;
}

.theteam {
  padding: 50px;
}

h1{
  text-decoration-line: underline;
  text-decoration-color: #EE2D81;
  text-decoration-style: solid;
  text-decoration-thickness: 8px;
  padding-top: 5px;
  padding-bottom: 30px;
  font-family: quantico;
  font-weight: bold;
  font-size: 30pt;
  margin-bottom: 50px;
  text-underline-offset: 10px;
}

.ana-img{
  margin-left: 200px;
  margin-right: 50px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.ana-txt{
  margin-top: 120px;
  margin-left: 50px; 
}

.ghazal-img{
margin-left: 100px;
}

.ghazal-txt{
  margin-top: 90px; 
  margin-right: 50px;
}


.Zor-img{
  margin-left: 200px;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-top: 60px;
}

.zor-txt{
margin-top: 130px;
margin-left: 50px;
}

.team-box{
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  margin-top: 70px;
  margin-bottom: 90px;
}

.team-title{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
}

